@import 'base/mixins';
@import 'base/variables';

@import 'base/base';
@import './components/large-hero';
@import './components/cta-btn';
@import './components/about';
@import './components/nav';
@import './components/modal';


 
@import './components/grid';
@import './base/utils';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .animation-title {
    font-family: sans-serif;
    text-align: center;
  }
  
  .eye-animation {
    width: 300px;
    display: block;
  
    margin: auto;
  }
  
  .steps {
    width: 100%;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    padding: 24px 0;
    position: relative;
    margin: auto;
  }
  
  
  .steps::before {
    content: '';
    position: absolute;
    top: 0;
    height: 24px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    left: calc(50px / 2);
    z-index: 1;
  
  }
  
  
  .steps::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--primary-color);
    border-radius: 15px;
    left: calc(50px / 2);
    bottom: 24px;
    transform: translateX(-45%);
    z-index: 2;
  }
  
  .step {
    padding: 0 20px 24px 50px;
    position: relative;
    transition: all 0.4s ease-in-out;
    background-color: #FFF;
  }
  
  .step::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: indianred;
  
    border-radius: 15px;
    left: calc(50px / 2);
    transform: translateX(-45%);
    z-index: 2;
  }
  
  .step.minimized::before {
    background-color: rgb(198, 198, 198);
  
  }
  
  .step::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(198, 198, 198);
    left: calc(50px / 2);
    top: 0;
    z-index: 1;
  }
  
  .step.minimized {
    background-color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .header {
    user-select: none;
    font-size: 16px;
    color: indianred;
  }
  
  .step.minimized .header {
    color: rgba(0, 0, 0, 0.6);
  
  }
  
  .subheader {
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .step-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
  }
  
  
  .step-content.one {
    height: 1200px;
  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .step.minimized>.step-content {
    height: 0px;
    height: 0;
  }
  
  .step-content.two {
    height: 1200px;
  
  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .step-content.three {
    height: 600px;
  
  
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .next-btn {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: red;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    /* transform: translate(-50%, -50%); */
  }
  
  .close-btn {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(255, 0, 255);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    /* transform: translate(-50%, -50%); */
  }
  
  /* Irrelevant styling things */
  .close-btn:hover {
    background-color: rgba(255, 0, 255, 0.6);
  }
  
  .close-btn:focus {
    outline: 0;
  }
  
  .next-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
  }
  
  .next-btn:focus {
    outline: 0;
  }
  
  .step.minimized:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
  
  
  /* form */
  
  
  
  :root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
  }
  
  /* mobile friendly alternative to using background-attachment: fixed */
  /* body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }
  
  h1,
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button {
    border: none;
  }
  
//   .container {
//     width: 100%;
//     margin: 3.125rem auto 0 auto;
//   }
  
//   @media (min-width: 576px) {
//     .container {
//       max-width: 540px;
//     }
//   }
  
//   @media (min-width: 768px) {
//     .container {
//       max-width: 720px;
//     }
//   }
  
  .header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
  
  .description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  
  .clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* form */
  
  form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }
  
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }
  
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .aa {
    height: 100vh;
  }
  
  .ase {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: calc(100%);
    /* padding: 16px; */
    max-height: 100%;
  }
  
  /*  */
  .App-pages {
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
    /* max-width: 480px; */
    perspective: 960px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .App-page {
    color: white;
    height: 100%;
  }
  
  .App-page_red {
    background: #f44336;
  }
  
  .App-page_green {
    background: #4caf50;
  }
  
  .App-page_blue {
    background: #2196f3;
  }
  
  .App-page_orange {
    background: #ff9800;
  }