.about {
    background-color: #000;
    position: relative;
    height: 100%;

   
    &__content {
        position: relative;
      //   z-index: 2;
    }
    &__trans{
        padding: 0 20px;
        & h1{
            color: $black-color;
        }
        & p{
           width: 70%;
            
            color: $black-color;
          
        }
    }
    &__black{
        background-color: $black-color;
        color: #fff;
        padding: 20px;
        & h1{
            color: $main-color;
            
        }
        & p{
           width: 70%;
            color: #fff;
        }
    }
    &__desc {
        position: relative;

        padding: 20px;

        @include respond(m) {
            padding: 20px 45px;

        }

        & p {
            column-count: 2;
            font-weight: 100;
            font-size: 15px;
            color: #fff;
            line-height: 1.8;
            column-gap: 50px;
        }
    }

    .section-header {
        color: #fff;
        text-align: right;
        position: relative;

        &__back {
            text-align: right;
            color: $second-color;
            font-family: "Careem-Bold", sans-serif;

            font-size: 150px;
            letter-spacing: 15px;
            transform: scale(1.2);
            transform-origin: center right;
            // -webkit-text-stroke: 1px rgba($main-color, .2);
            text-shadow:
                -1px 0 rgba($main-color, .2),
                0 1px rgba($main-color, .2), 1px 0 rgba($main-color, .2),
                0 -1px rgba($main-color, .2);
        }

        &__front {
            text-align: right;
            font-family: "Careem-Bold", sans-serif;
            position: absolute;
            top: 47px;
            right: 20px;
            font-size: 100px;
            font-weight: 100;
            color: #fff;
            letter-spacing: 5px;
            // transform: translate(-133px, -126px) scale(1.2);
        }
    }
}
.topic{
    background-color: $black-color !important; 
}
.topics-img{
    width: 40%;
}
.position-middle{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.topics__black{
    position: relative;
    background-color: $black-color;
    // padding:20px 20px;
    color: $main-color;
    & img{
      width: 120px;
    }
   
   & h1{
       font-size: 40px;
   }
}
.topics__yellow{
    background-color: $main-color;
    // padding:50px 20px;
    position: relative;
    color: $black-color;
    & img{
      width: 120px;
    }
   
   & h1{
       font-size: 40px;
   }
}